{% extends './BaseTemp/base.html' %}

{% block content %}

    {% for user in context%}
        {{user.first_name}}
    {%endfor%}
    <div class="w3-half">
        <div class="card-deck text-center" style="height:290px; width:400px;">

            <div class="card bg-primary">
                <div style="margin:0px;">BANK</div>
                <div class="card-header" style="margin:0;">Bank Account *7677</div>
                <div class="card-body">Content</div>
                <div class="card-footer">Footer</div>
            </div>

            
        </div>

    </div>

    <div class="w3-half">
        <div>
            <a href="">kfglufudutdkjfckj jhvkf klhfifi klhvljhfkhuf kvkjhf</a>
        </div>
    </div>

    
        
        
    <!--
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the first card</p>
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
          </div>
        </div>
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
          </div>
        </div>
    -->


      

      <div class="col-md-12" style="text-align: center;">
        <br/><br/><br/><br/><br/>
          <p class="font-style-content6">
              Cards issued by WinTrust, Member FDIC, pursuant to a license from Visa U.S.A., Inc. Visa is a registered trademark of Visa International Service Association.</p>
          <p class="font-style-content6">
              Neither Wintrust, Visa U.S.A. nor any of their respective affiliates are responsible for the products or services provided by Ingo Money, Q2 Software, Plaid, or any eGift Card merchants. Partner terms and conditions apply.
          </p>
          <p class="font-style-content6">
              All third-party names and logos are trademarks of their respective owners. These owners are not affiliated with WinTrust and have not sponsored or endorsed WinTrust products or services.
          </p>
          <p class="font-style-content6">
              Apple, the Apple logo, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
          </p>
          <p class="font-style-content6">Google, Android and Google Play are trademarks of Google Inc., registered in the U.S. and other countries.</p>
        </div>

{%endblock%}