{% extends './BaseTemp/base.html' %}
{% load static %}
{% block activeurlT %}
    active
{% endblock %}

{% load humanize %}



{% block content %}

<div class="page-wrapper">
                                    
    <!-- Page-body start -->
    <div class="page-body" >
        <!-- Row start -->
        <div class="row">



            <div class="col-lg-6 card" style=" margin: auto; color:#003E7E ; min-height: 400px;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/White_check_mark_in_dark_green_rounded_square.svg/1200px-White_check_mark_in_dark_green_rounded_square.svg.png" style="margin: auto;" width="200"/>
                <h4>Your transfer to <strong> {{context.success.holder}} ({{context.success.acct_no}})</strong> was successful. </h4>
                <button type="button"  data-toggle="modal" data-target="#reciept" class="btn btn-primary col-lg-12">Generate Reciept</button>
                <div class="w3-margin"></div>
                <button type="submit" class="btn btn-primary col-lg-12">Cancel</button>
            </div>

<div id="reciept" class="col-lg-6 modal" style="background-color: wheat; margin: auto; color: #003E7E;">

    <img width="300" class="w3-opacity-min" src="{% static 'assets/images/b380_Wintrust.svg'%}" style="position:absolute; margin-top: 160px;"/>
    <div class="card" style="background-color: transparent;">
        
        <div class="card-header bg-primary">
            <h5 class="text-white" >Transaction Details:</h5>
            <button id="times"  type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                Transaction Type : <strong>Inter-Bank Transfer (Debit) </strong> 
                            </td>
                        </tr>

                    <tr>
                        <td>
                           Transaction Date : <strong> {{context.success.date}} </strong> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                           Debit Account : <strong> {{context.success.acct_no_debit}} </strong> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                           Credit Account : <strong> {{context.success.acct_no}} </strong> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                           Beneficiary : <strong> {{context.success.holder}} </strong> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Reference No : <strong> {{context.success.ref}}/{{context.success.acct_no}}/{{context.success.routineno}} </strong> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Status : <strong> Successful </strong> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                           Amount : <span class="w3-text-green" style="font-size:medium;">{{context.success.amount|floatformat:2|intcomma}} </span> 
                        </td>
                    </tr>
                    
                    
                   
                      
                    </tbody>
                </table>
                <div class="text-right m-r-20">
                    <a onclick="w3.hide('#cmd'); w3.hide('#times'); CreatePDFfromHTML(); w3.show('#cmd');w3.show('#times') " id="cmd" class=" b-b-primary text-primary">Download Receipt</a>
                </div>
            </div>
        </div>

    </div>
<div id="editor"></div>
</div>


</div></div></div>



<script>
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    //$('#cmd').click(
        function cyx () {
        doc.fromHTML($('#reciept').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
    };
   // });


   function CreatePDFfromHTML() {
    var HTML_Width = $("#reciept").width();
    var HTML_Height = $("#reciept").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

    html2canvas($("#reciept")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("Reciept.pdf");
        $(".html-content").hide();
    });
}

</script>

<script src="https://www.w3schools.com/lib/w3.js"></script>

{%endblock%}

