/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */


	
		
@font-face {
	font-family: "Agenda Semibold";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	
	src: url("//cloud.typenetwork.com/projectLicenseWeb/25654/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/25654/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/25654/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/25654/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Agenda";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23292/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23292/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23292/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23292/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Agenda";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23291/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23291/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23291/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23291/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Agenda Medium";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23289/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23289/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23289/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23289/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Agenda";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23288/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23288/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23288/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23288/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Agenda Light";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23287/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23287/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23287/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23287/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Garamond";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	unicode-range: U+004e, U+0065, U+006e-006f;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23295/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23295/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23295/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23295/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Garamond";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+004e, U+0065, U+006e-006f;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23296/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23296/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23296/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23296/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Garamond";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	unicode-range: U+004e, U+0065, U+006e-006f;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23297/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23297/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23297/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23297/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
@font-face {
	font-family: "Garamond";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	unicode-range: U+004e, U+0065, U+006e-006f;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23294/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23294/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23294/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23294/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
		
	
		
/* Your license for Agenda Light Italic is expired. 
   Renew your license at https://store.typenetwork.com/account/licenses
   or email info@typenetwork.com with any questions. */
		
	
		
@font-face {
	font-family: "Agenda Light";
	font-display: auto;
	font-weight: normal;
	font-style: italic;
	unicode-range: U+0020-007e, U+00a1-00a3, U+00a5, U+00a7, U+00a9-00ac, U+00ae-00b3, U+00b5-00b7, U+00b9-00ff, U+0152-0153, U+0160-0161, U+0178, U+017d-017e, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026, U+2030, U+2039-203a, U+2044, U+20ac;
	src: url("//cloud.typenetwork.com/projectLicenseWeb/23293/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57");
        src: url("//cloud.typenetwork.com/projectLicenseWeb/23293/fontfile/eot/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57#iefix") format("embedded-opentype"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23293/fontfile/woff2/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff2"),
             url("//cloud.typenetwork.com/projectLicenseWeb/23293/fontfile/woff/?00fae205ee45d5060a48eb10e1a56b71bd7b0c57") format("woff");

}
